
.page-container {
  
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
}

/* Estilos para la caja de confirmación */
.confirmation-box {
    background-color: #fff; 
    width: 80%; 
    max-width: 600px; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

/* Estilos cuando se pasa el cursor sobre la caja de confirmación */
.confirmation-box:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center; 
    color: #333; 
    margin-bottom: 10px; 
}

h2 {
  
    color: #333; 
    margin-bottom: 30px; 
}

/* Estilo para los detalles del curso dentro de la caja de confirmación */
.course-details {
    margin-bottom: 30px; 
    display: table; 
    width: 15%; 
   
}

/* Estilo para los párrafos dentro de .course-details */
.course-details p {
    margin: 10px 0; 
    display: table-row; 
}


/* Estilos para las etiquetas fuertes dentro de .course-details */
.course-details p strong {
    display: table-cell; 
    padding-right: 10px; 
    text-align: right; 
}

/* Estilos para los elementos de texto dentro de .course-details */
.course-details p span {
    display: table-cell; 
    text-align: left; 
}



/* Estilos para el grupo de botones */
.button-group {
    display: flex; 
    justify-content: center; 
}

/* Estilos para los botones de eliminar y cancelar */
.delete-button, .cancel-link {
    display: inline-block; 
    padding: 10px 30px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; /* Transición de color de fondo */
    font-size: 16px; /
}

/* Estilos específicos para el botón de eliminar */
.delete-button {
    background-color: #ff4d4d; 
    color: #fff; 
    margin-right: 20px; 
}

/* Estilos cuando se pasa el cursor sobre el botón de eliminar */
.delete-button:hover {
    background-color: #ff3333; 
}

/* Estilos para los botones de eliminar y cancelar cuando se pasa el cursor sobre ellos */
.delete-button:hover, .cancel-link:hover {
    animation: pulse 1s infinite; 
}

/* Estilos para los iconos dentro de los botones de eliminar y cancelar */
.delete-button:hover i, .cancel-link:hover i {
    transform: translateX(2px); /* Desplaza horizontalmente */
    transition: transform 0.3s ease; /* Transición suave */
}

/* Transiciones para botones */
.delete-button, .cancel-link {
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

/* Estilos para el enlace de cancelar */
.cancel-link {
    background-color: #007bff; 
    color: #fff; 
}

/* Estilos cuando se pasa el cursor sobre el enlace de cancelar */
.cancel-link:hover {
    background-color: #0056b3; 
}

/* Estilos para los iconos */
i {
    margin-right: 5px; 
}

/* Animación para deslizar hacia arriba la caja de confirmación */
@keyframes slideUp {
    from {
        transform: translateY(100%); /* Inicia desde abajo */
        opacity: 0; 
    }
    to {
        transform: translateY(0); /* Finaliza en posición normal */
        opacity: 1; 
    }
}

/* Aplica la animación de deslizamiento hacia arriba a la caja de confirmación */
.confirmation-box {
    animation: slideUp 0.5s ease forwards; 
}

/* Animación de pulso */
@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.05); 
    }
    100% {
        transform: scale(1); 
    }
}

