.container {
    display: flex; 
    margin-left: 6rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperProgram{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 50%; 
    max-height: 87vh; 
    overflow-y: auto;
    margin-right: 7px;
}

.wrapperProgram::-webkit-scrollbar{
    width: 0;
}

.program {
    display: flex;
    width: 100%;
    min-height: 110px;
    text-align: left;
    background-color: #DDD;
    margin-bottom: 10px;
    gap: 15px;
    position: relative;
}

.wrapperInfo{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 50%; 
    max-height: 87vh; 
    overflow-y: auto;
    background-color: #DDD;
    margin-left: 7px;
}

.wrapperInfo::-webkit-scrollbar{
    width: 0;
}

.wrapperInfo .text {
    width: 95%;
    height: auto;
    line-height: 1.5;
    text-align:justify;
    margin-bottom: 10px;
}

.wrapperInfo img {
    margin-top: 10px;
    width: 90%;
    height: 20%;
}

.program .text {
    width: 100%;
    height: auto;
    text-align:justify;
    line-height: 1;
}

.program img{
    width: 25%;
    height: 100%;
    object-fit: cover;
    object-position: 20%;
}

.program h2 {
    margin-left: auto;
}

.card {
    width: 100%;
    /* Ajusta la altura mínima */
    min-height: 110px;
}

.navbar {
    z-index: 1000; 
}

h2 {
    margin-left: 6rem;
}
