.secondary-navigation {
    top: 58px;
    position: sticky;
    
}

.top-navbar {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    background-color: #f8f9fa;
    border-bottom: .5px solid #e9ecef;
    
    
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-left: 0;
    width: max-content;
    max-width: 100%;
}

.top-navbar li {
    padding: 6px 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: sticky;
    top: 10px;
}

.top-navbar li:hover {
    background-color: #e9ecef;
}

.top-navbar li a {
    text-decoration: none;
    color: black;
}