<!-- class formulario -->

<!DOCTYPE html>
<html lang="es">
<head>

    {% load static %}

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}"/>
    

    {% block stylesheet %} {% endblock%}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Login</title>

    

</head>




<body class="pagina-especial">
   
       
   

    <div class="formulario">
   
      <h1>Iniciar sesión</h1>
      <form  method="post">
   
        {% csrf_token %}
   
        <div class="username">
           <input type="text" name="username" id="" placeholder="Nombre de usuario">
           
        </div>
   
      
   
        <div class="password">
           <input type="password" name="password" id="" placeholder="Contraseña">
           
       </div>
   
        <div class="recordar">¿Olvidó su contraseña?</div>
        <br>
        <button type="submit">Iniciar</button>
        
   
   
       </form>
   
   </body>
   
   </div>