{% extends 'baseAppLogin.html' %}


{% block content %}




<!-- class formulario -->

<body class="pagina-especial">
   
       
   

 <div class="formulario">

   <h1>Iniciar sesión</h1>
   <form action="/home/" method="post">

     {% csrf_token %}

     <div class="username">
        <input type="text" name="username" id="" placeholder="Nombre de usuario">
        
     </div>

   

     <div class="password">
        <input type="password" name="password" id="" placeholder="Contraseña">
        
    </div>

     <div class="recordar">¿Olvidó su contraseña?</div>
     <br>
     <button type="submit">Iniciar</button>
     


    </form>

</body>

</div>

{% endblock  %}
