<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_complete_style.css' %}">

    <title>Contraseña Restablecida</title>
</head>
<body>
<div class="container">
    <h2>Contraseña Restablecida</h2>
    <p>Tu contraseña ha sido restablecida con éxito.</p>
    <button class="btn-login"><a href="{% url 'login' %}" style="color: inherit; text-decoration: none;">Iniciar sesión</a></button>
</div>
</body>

</html>
