<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Password Reset Email Sent</title>
    <link rel="stylesheet" href="{% static 'css/password_message_done_style.css' %}"/>
</head>
<body>
    <div class="container">
        <h1>Correo de restablecimiento enviado</h1>
        <p class="message">Te hemos enviado instrucciones por correo electrónico para configurar tu contraseña, si existe una cuenta con el correo electrónico que ingresaste. Deberías recibirlo pronto.</p>
        <p class="message">"Si no recibes un correo electrónico, por favor asegúrate de haber ingresado la dirección con la que te registraste y revisa tu carpeta de correo no deseado."</p>
    </div>
</body>
</html>
