/* Estilo mejorado para el formulario de recuperación de contraseña */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
}

.container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

h1 {
    color: #333333;
    margin-bottom: 30px;
}

p {
    margin-bottom: 10px;
    color: #666666;
    line-height: 1.5;
}

form {
    width: 100%; /* Ajusta el ancho del formulario al 100% */
    text-align: left; /* Alinea el texto del formulario a la izquierda */
}

form label {
    color: #666666; /* Cambié el color del texto de las etiquetas de los campos de entrada */
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: border-color 0.2s ease-in-out;
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #007bff;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
