<!DOCTYPE html>
<html lang="en">
<head>

     <!--Carga los estilos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/course_list_style.css' %}">
    {% block stylesheet %}{% endblock %}
    
    <meta charset="UTF-8">
    <title>Listado de Cursos</title>
</head>
<body>
    <div class="content">
        <h1>Listado de Cursos</h1>
        
        {% if object_list %}
            <ul class="courses-list">
                {% for curso in object_list %}
                    <li class="course-item">
                        <div class="course-info">

                            <!-- Información del Curso -->
                            <span class="course-label">Materia:</span>
                            <span class="course-value">{{ curso.materia }}</span><br>
                            
                            <span class="course-label">NRC:</span>
                            <span class="course-value">{{ curso.nrc }}</span><br>
                            
                            <span class="course-label">Grupo:</span>
                            <span class="course-value">{{ curso.grupo }}</span><br>
                        </div>
                        
                        <div class="course-actions">

                            <!-- Acciones del Curso -->
                            <a href="{% url 'course_delete' curso.pk %}" class="action-button delete-button">Eliminar</a>
                            <a href="{% url 'course_update' codigo_materia=curso.materia.codigo pk=curso.pk %}" class="action-button update-button">Actualizar</a>
                            

                        </div>
                    </li>
                {% endfor %}
            </ul>
            
            <!-- Botón para crear nuevo curso -->
            <div class="create-course-button-container">
                <a href="{% url 'course_create' codigo_materia=codigo_materia %}" class="create-course-button">Crear Curso</a>
            </div>
        {% else %}
            <!-- Mensaje cuando no hay cursos -->
            <div class="no-courses-container">
                <p class="no-courses-message">¡No hay cursos disponibles en este momento!</p>
                
                <!-- Botón para Crear Nuevo Curso -->
                <div class="create-course-button-container">
                    <a href="{% url 'course_create' codigo_materia=codigo_materia %}" class="create-course-button">Crear Curso</a>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
