{% extends "root.html" %}

{% block title %}
   Crear curso
{% endblock %}

{% block breadcrumb-items %}
   
    <li style="margin: 0 5px;">/</li> <!-- Agrega un margen a cada lado del elemento "/" -->
    <li>Crear curso</li>
{% endblock breadcrumb-items %}


{% block actual_patch %}
    <h2>Crear curso</h2>
{% endblock actual_patch %}



{% block content %}
  
    
    <!--Carga los estilos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_course_style.css' %}">
    {% block stylesheet %}{% endblock %}
   


    <div class="container">
        <h1>Creación de curso</h1>
        <form method="post" class="form">{% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn-submit">
            </div>
        </form>
    </div>
 
{% endblock content %}