<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Cursos</title>
</head>
<body>
    <h1>Listado de Cursos</h1>
    <ul>
        {% for curso in object_list %}
            <li>{{ curso.nrc }} - {{ curso.grupo }}</li>
            <!-- Puedes mostrar más detalles si lo deseas -->
            <ul>
                <li><a href="{% url 'course_delete' curso.pk %}">Eliminar</a></li>
                <li><a href="{% url 'course_update' codigo_materia=curso.materia.codigo pk=curso.pk %}">Actualizar</a></li>
            </ul>
            <hr>
        {% endfor %}
    </ul>
    <a href="{% url 'course_create'%}">Crear Curso</a>
</body>
</html>