<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/curso_list.css' %}">
    {% block stylesheet %}{% endblock %}


    <meta charset="UTF-8">
    <title>Listado de Cursos</title>
</head>
<body>
    <h1>Listado de Cursos</h1>
    <ul>
        {% for curso in object_list %}
            <li>{{ curso.nrc }} - {{ curso.grupo }}</li>
            <!-- Puedes mostrar más detalles si lo deseas -->
            <ul>
                <li><a href="{% url 'course_delete' curso.pk %}" class="delete-button">Eliminar</a></li>
                <li><a href="{% url 'course_update' codigo_materia=curso.materia.codigo pk=curso.pk %}" class="update-button">Actualizar</a></li>
            </ul>
            <hr>
        {% endfor %}
    </ul>
    <div class="create-course-button-container">
        <a href="{% url 'course_create'%}" class="create-course-button">Crear Curso</a>
    </div>
    
    
</body>
</html>



