{% extends "root.html" %}

{% block title %}
   Editar Curso
{% endblock %}

{% block breadcrumb-items %}
   
    <li style="margin: 0 5px;">/</li> <!-- Agrega un margen a cada lado del elemento "/" -->
    <li>Editar Curso</li>
{% endblock breadcrumb-items %}


{% block actual_patch %}
    <h2>Editar Curso</h2>
{% endblock actual_patch %}



{% block content %}
    <!--Carga los estilos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_course_style.css' %}">
    {% block stylesheet %}{% endblock %}

    <div class="container">
        <h1>Edición de Curso</h1>
        <form method="post" class="form">{% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <input type="submit" value="Guardar" class="submit-btn">
            </div>
        </form>
    </div>

{% endblock content %}
