<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="static/CSS/homeStyles.css">
</head>
<body>

    <div class="img-fondo">
        <img class="fontImage" src="https://www.icesi.edu.co/facultad-ciencias-administrativas-economicas/images/posgrado/doctorado-economia-negocios/banner-doctorado-en-ciencias-administrativas.jpg" alt="ImagenDeFondo">

        <div class = "texto_general"> <p>CENTRO COMPARTIDO DE SERVICIOS ACADEMICOS</p>  </div>
        <!-- Ejemplo de botones con enlaces -->
        <div class="general_panel">
            <a href="programas/" class="programs_btn">VISUALIZAR PROGRAMAS</a>
            <a href="docentes/" class="teacher_btn">VISUALIZAR PROFESORES</a>
            <a href="viewContract/" class="contracts_btn">VISUALIZAR CONTRATOS</a>
        </div>
    </div>
</body>
</html>
