<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/materiaStyle.css' %}">
    {% block stylesheet %}{% endblock %}
    <title>Materias</title>
</head>
<body>
    <h1>Materias</h1>
    <div class="materia-container">
        {% for materia in object_list %}
        <div class="materia-box">
            <img src="{% static materia.imagen %}" alt="Imagen de {{ materia.nombre }}">
            <div class="materia-info">
                <p><strong>Código:</strong> {{ materia.codigo }}</p>
                <p><strong>Nombre:</strong> {{ materia.nombre }}</p>
                <p><strong>Créditos:</strong> {{ materia.creditos }}</p>
                <a href="{% url 'courseview' codigo_materia=materia.codigo %}">Ver Cursos</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
