{% extends "root.html" %}

{% block title %}
    Programa: {{ programa.nombre }} | Universidad Icesi
{% endblock title %}

{% block actual_patch %}
    {{ programa.nombre }}
{% endblock actual_patch %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item">
        <a href="{% url 'programs' %}">Programas</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ request.path }}">{{ programa.nombre|truncatechars:20 }}</a>
    </li>
{% endblock breadcrumb-items %}

{% block content %}
    <ul>
        <li>Primer elemento</li>
        <li>Segundo elemento</li>
        <li>Tercer elemento</li>
    </ul>

    <div>
        
    </div>
{% endblock content %}