{% extends "root.html" %}

{% block title %}
    Programa: {{ programa.nombre }} | Universidad Icesi
{% endblock title %}

{% load static %}
{% block static %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/program_details_styles.css' %}">
{% endblock static %}

{% block actual_patch %}
    {{ programa.nombre }}
{% endblock actual_patch %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item">
        <a href="{% url 'programs' %}">Programas</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ request.path }}">{{ programa.nombre|truncatechars:20 }}</a>
    </li>
{% endblock breadcrumb-items %}

{% block content %}
    <ul>
        <li>Primer elemento</li>
        <li>Segundo elemento</li>
        <li>Tercer elemento</li>
    </ul>

    <div class = "program-detail">
        <div class="program-director">
            <h3>Director</h3>
            <div class="director">
                <div class="director-image">
                    <img src="{{ directors.url_foto }}" alt="">
                </div>

                <div class="director-details">
                    <div class="director-info">
                        <p>Nombre: </p>
                        <p>{{ directors.nombre }}</p>
                    </div>
                    
                    <div class="director-info">
                        <p>Email: </p>
                        <p>{{ directors.email}}</p>
                    </div>
        
                    <div class="director-info">
                        <p>Email: </p>
                        <p>{{ directors.telefono}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="program-detail">
            <div class="program-info">
                <p>Facultad: </p>
                <p>{{ programa.facultad }}</p>
            </div>
            <div class="program-info">
                <p>Cursos Totales: </p>
                <p style="color: red;">AGREGAR CONTADOR</p>
            </div>
            <div class="program-info">
                <p>Tipo Programa: </p>
                <p>{{ programa.tipo_de_programa }}</p>
            </div>
        </div>
    </div>

    <div class="study-plan">
        <h2 class="pensum">Plan de Estudios</h2>
        <div class="pensum-detail">
            
        </div>
    </div>
{% endblock content %}