{% extends "base.html" %}

{% block title %}Programas de Posgrado{% endblock title %}
{% load static %}



{% block stylesheet %}
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
{% endblock stylesheet %}


{% block content %}
<h2>Programas de Posgrado</h2>
    <div class="container">
        <div class="wrapperProgram">
            <div class="program">
                <img src="../static/CSS/programa1.jpg" alt="Analitica">

                <div class="subcontainer">
                    <div class="text"><h3><strong>Especialización en Analitica aplicada a los negocios</strong></h3></div>

                    <div class="text">Facultad de ciencias administrativas y economicas</div>
                </div>
                <h2>✅</h2>
            </div>
            
            <div class="program">
                <img src="https://www.icesi.edu.co/facultad-ciencias-humanas/images/posgrado/Especializaciones/derecho_empresarial/banerPrincipal.fw.png" alt="Derecho">

                <div class="subcontainer">
                    <div class="text"><h3><strong>Especialización en Derecho Empresarial</strong></h3></div>

                    <div class="text">Facultad de ciencias humanas</div>
                </div>
                <h2>✅</h2>
            </div>
            <div class="program">
                <img src="https://www.icesi.edu.co/images/posgrado/Especializaciones/banner-especializacion-en-contratacion-en-medios-digitales.png" alt="Derecho">

                <div class="subcontainer">
                    <div class="text"><h3><strong>Especialización en contratación en Entornos Digitales</strong></h3></div>

                    <div class="text">Facultad de ciencias humanas</div>
                </div>
                <h2>✅</h2>
            </div>
            <div class="program">
                <img src="https://www.icesi.edu.co/facultad-ciencias-humanas/images/posgrado/M_DERECHO/principal.jpg" alt="Derecho">

                <div class="subcontainer">
                    <div class="text"><h3><strong>Especialización en Derecho en Modalidad Blenbed</strong></h3></div>

                    <div class="text">Facultad de ciencias humanas</div>
                </div>
                <h2>✅</h2>
            </div>
            <div class="program">
                <img src="https://www.icesi.edu.co/facultad-ingenieria-diseno-ciencias-aplicadas/images/posgrado/ingenieria/ciencia-datos/card-maestria-en-ciencia-de-datos-new.jpg" alt="Derecho">

                <div class="subcontainer">
                    <div class="text"><h3><strong>Especialización en Ciencia de Datos</strong></h3></div>

                    <div class="text">Facultad de ingeniería, Diseño y Ciencias Aplicadas</div>
                </div>
                <h2>✅</h2>
            </div>
            <div class="program">
                <img src="https://www.icesi.edu.co/facultad-ciencias-administrativas-economicas/images/posgrado/ciencias_administrativas/maestria-estrategia-digital/banner-estrategia-digital2.jpg" alt="Derecho">

                <div class="subcontainer">
                    <div class="text"><h3><strong>Especialización en Estrategia Digital de Negocios en Modalidad Virtual</strong></h3></div>

                    <div class="text">Facultad de ciencias administrativas y economicas</div>
                </div>
                <h2>✅</h2>
            </div>
            <div class="program">
                <img src="https://www.icesi.edu.co/facultad-ciencias-administrativas-economicas/images/posgrado/MBA/banner-MBA-Icesi2.jpg" alt="Derecho">

                <div class="subcontainer">
                    <div class="text"><h3><strong>Especialización en MBA ICESI</strong></h3></div>

                    <div class="text">Facultad de ciencias administrativas y economicas</div>
                </div>
                <h2>✅</h2>
            </div>
        </div>
        <div class="wrapperInfo">
            <img src="../static/CSS/programa1.jpg" alt="Analitica">
            
            <div class="text"><h3><strong>Especialización en Analitica aplicada a los negocios</strong></h3></div>

            <div class="text"><h5>📅</h5></div>

            <div class="text"><strong>Proposito</strong></div>
            
            <div class="text">Buscamos desarrollar competencias para establecer el nexo entre los datos y la toma de decisiones de negocios, por medio de la identificación de problemas y oportunidades susceptibles de abordarse aplicando técnicas de analítica, contribuyendo así a la definición y ejecución de una estrategia de negocio más inteligente.</div>

            <div class="text"><strong>Dirigido a</strong></div>

            <div class="text">Profesionales que laboren en diferentes sectores como banca, comercio, producción, salud, logística, comunicaciones, entre otros, que deseen incrementar y fortalecer sus habilidades analíticas, y afianzar su capacidad en la toma de decisiones con la adquisición de conocimientos en la aplicación de las técnicas de analítica, para el desarrollo e impulso de su carrera profesional.</div>
        </div>
    </div>
{% endblock %}
