{% extends "root.html" %}

{% block title %}
    Programa: {{ programa.nombre }} | Universidad Icesi
{% endblock title %}

{% load static %}
{% block static %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/program_details_root.css' %}">
{% endblock static %}

{% block actual_patch %}
    {{ programa.nombre }}
{% endblock actual_patch %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item">
        <a href="{% url 'programs' %}">Programas</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ request.path }}">{{ programa.nombre|truncatechars:28 }}</a>
    </li>
{% endblock breadcrumb-items %}

{% block content %}
    <div class="secondary-navigation">
        <ul class = "top-navbar">
            <li><a href="{% url 'program_summary' programa.codigo %}">Programa</a></li>
            <li><a href="{% url 'program_planning' programa.codigo %}">Planificación</a></li>
            <li><a href="{% url 'program_teachers' programa.codigo %}">Docentes</a></li>
            <li><a href="{% url 'program_subjects' programa.codigo %}">Materias</a></li>
        </ul>
    </div>
{% endblock content %}