{% extends "base.html" %}

{% block title %}Programas de Posgrado{% endblock title %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'CSS/Programs_style.css' %}">
{% endblock stylesheet %}

{% block content %}
<h2>Programas de Posgrado</h2>
    <div class="container">
        <div class="wrapperProgram">
            {% for programa in programas %}
                <button type="button" onclick="showInfo('{{ programa.codigo }}')" class="program" style="border: none;">
                    <img src="{{ programa.url_image }}" alt="{{ programa.nombre }}">

                    <div class="subcontainer">
                        <div class="text"><h3><strong>{{ programa.nombre }}</strong></h3></div>

                        <div class="text">{{ programa.facultad }}</div>
                    </div>
                    <h2>✅</h2>
                </button>
                <div id="info{{ programa.codigo }}" class="info" style="display: none;">
                    <img src="{{ programa.url_image }}" alt="{{ programa.nombre }}">
                    <h3>{{ programa.nombre }}</h3>
                    <div class="text">{{ programa.descripcion }}</div>
                    <!-- Añade aquí más detalles del programa -->
                </div>
            {% endfor %}
        </div>    
        <div class="wrapperInfo" id="wrapperInfo">
            <!-- Aquí se mostrará la información del programa seleccionado -->
        </div>
    </div>
    <script src="{% static 'js/programs_script.js' %}"></script>
{% endblock %}