{% extends "root.html" %}
{% block title %}Materias{% endblock title %}

{% block content %}


{% load static %}
    <link rel="stylesheet" href="{% static 'css/subjectListStyle.css' %}">
    {% block stylesheet %}{% endblock %}

<div class="materia-container">
    {% for materia in object_list %}
    <div class="materia-box">
        <p class="materia-title">{{ materia.nombre }}</p>
        <div class="materia-info">
            <p><strong>Código:</strong> {{ materia.codigo }}</p>
            <p><strong>Créditos:</strong> {{ materia.creditos }}</p>
            <a href="{% url 'courseview' codigo_materia=materia.codigo %}">Ver Cursos</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}