{% extends "root.html" %}

{% block title %}
    Docentes
{% endblock %}

{% load static %}
{% block static %}
    {{block.super}}

    <link rel="stylesheet" href="{% static "css/teachers_styles.css" %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}

{% block content %}
    <form method="GET" action="." class="form-row">
        <div class="search-bar">
            <div class="input-group">
                <ion-icon name="search-outline"></ion-icon>
                <input type="search" name="search_contains" placeholder="Buscar"/>
            </div>
        </div>
        
        <select name="status">
            <option value="" selected>Estado</option>
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
        </select>

        <input class="city_selector" list="cities" name="city" placeholder="Ciudad">
        <datalist id="cities">
            {% for city in cities %}
                <option value="{{city.id}}">{{city.nombre}}</option>
            {% endfor %}
        </datalist>

        <button id="submit" type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <div class="grid-container">
        {% for teacher in teacher_list %}
            <div class="card">
                <div class="image">
                    <!--<img src="https://th.bing.com/th/id/OIP.pYdFHETEFknKbd54t2d42AHaLH?rs=1&pid=ImgDetMain" alt="image">-->
                    <img src="{{ teacher.url_foto }}" alt="image">
                </div>
                <div class="info">
                    <div id="name{{teacher.cedula}}"class="name">
                        <h2>{{teacher.nombre}} {{teacher.apellido}}</h2>
                        {% if teacher.estado == 'Activo' %}
                            <p>Docente 🟢</p>
                        {% else %}
                            <p>Docente 🔴</p>
                        {% endif %}
    
                    </div>
                    <div class="button">
                        <a href="" class="trigger">
                            <span class="open">Ver más</span>
                            <span class="close">Cerrar</span>    
                        </a>
                    </div>
                    <div class="details">
                        <div class="left">
                            <div class="about">
                                <h3>Acerca</h3>
                                <div class="about-data">
                                    <ion-icon name="id-card-outline"></ion-icon>
                                    <button onclick="copy_teacher_id('{{teacher.cedula}}')">
                                        <input type="text" value="{{teacher.cedula}}" id="{{teacher.cedula}}" readonly>
                                    </button>
                                </div>
                                <div class="about-data">
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <button onclick="copy_teacher_email('{{teacher.cedula}}')">
                                        <input type="text" value="{{teacher.email}}" id="{{teacher.cedula}}" readonly>
                                    </button>
                                </div>
                                <div class="about-data">
                                    <ion-icon name="call-outline"></ion-icon>
                                    <button onclick="copy_teacher_phone('{{teacher.cedula}}')">
                                        <input type="text" value="{{teacher.telefono}}" id="{{teacher.cedula}}" readonly>
                                    </button> 
                                </div>
                                <div class="about-data">
                                    <ion-icon name="location-outline"></ion-icon>
                                    <button onclick="copy_teacher_city('{{teacher.cedula}}')">
                                        <input type="text" value="{{teacher.ciudad}}" id="{{teacher.cedula}}" readonly>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="button">
                                <a id="changestate{{ teacher.cedula}}" href="{% url 'state' cedula=teacher.cedula %}"><span>Cambiar estado</span></a>
                                <a id="info{{ teacher.cedula}}" href="{% url 'teacher_info' cedula=teacher.cedula %}" class="light"><span>Información</span></a>
                                
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/teachers_script.js' %}"></script>
{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item">
        <a href="{% url 'teachers' %}">Docentes</a>
    </li>
{% endblock %}

{% block actual_patch %}
    <h2>Docentes</h2>
{% endblock %}
